<br>
    <div *ngIf="!authService.getUser() else elseBlock" class="example-container "><mat-card>
  <mat-form-field>
    <input matInput name="username" placeholder="Email" #email
    (keyup.enter)="login(email.value, password.value)" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" name="password"  placeholder="Password" #password (keyup.enter)="login(email.value, password.value)"
required></mat-form-field>
  <button mat-button
     (click)="login(email.value, password.value)">
     <mat-icon>input</mat-icon> Submit
  </button>
</mat-card>
</div>

<ng-template #elseBlock>

    <mat-card>
        <mat-card-subtitle>
            Logged in as <b>{{ printUser() }}</b>
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href (click)="logout()"><mat-icon>exit_to_app</mat-icon> Log Out</a>
        </mat-card-content>
    </mat-card>


</ng-template>
