<h3>Login</h3>

<form class="form-horizontal" style="width: 50%" *ngIf="!authService.getUser() else elseBlock" >

  <div class="form-group">
    <input matInput class="form-control" name="username" placeholder="Email" #email
    (keyup.enter)="authService.login(email.value, password.value)">
  </div>

  <div class="form-group">
    <input class="form-control" type="password" name="password"  placeholder="Password" #password      (keyup.enter)="authService.login(email.value, password.value)"
>
<br>
  <a class="btn btn-default"
     (click)="authService.login(email.value, password.value)">
     Submit
  </a>
</div>
</form>

<ng-template #elseBlock>

    <header class="well">
        Logged in as <b>{{ authService.printUser() }}</b>
        <br><br>
        <a href (click)="authService.logout()">Log Out</a>
    </header>

    <app-dashboard></app-dashboard>

</ng-template>
