<div style="margin-top: 10%;">
    <div *ngIf="!authService.getUser() else elseBlock" class="example-container ">
  <mat-card *ngIf="ep">
  <mat-form-field>
    <input matInput name="username" placeholder="Email" #email
    (keyup.enter)="login(email, password)" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password"  placeholder="Password" #password (keyup.enter)="login(email, password)"
required></mat-form-field>
    <button mat-button
       (click)="login(email, password)">
       <mat-icon>input</mat-icon> Sign-In
    </button>
</mat-card><br>
<mat-card>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group" >
    <mat-radio-button class="example-radio-button" *ngFor="let lt of ltypes" (change)="changePH(lt); toggleGoogle(lt)" [value]="lt">
        {{lt}}
    </mat-radio-button>
    <button mat-button class="example-container" *ngIf="g"
       (click)="login('', '')">
       <mat-icon>input</mat-icon> Sign-In
    </button>
</mat-radio-group>

</mat-card>
</div>

<ng-template #elseBlock>
    <mat-card>
        <mat-card-subtitle>
            Logged in as <b>{{ printUser() }}</b>
        </mat-card-subtitle>
        <mat-card-content>
            <a mat-button href (click)="logout()"><mat-icon>exit_to_app</mat-icon> Log Out</a>
        </mat-card-content>
    </mat-card>


</ng-template>
</div>
