<ul *ngFor="let card of cards | async" class="col-1-4">
    <br><mat-card *ngIf="saved">
        <mat-card-content>
        <mat-list>
        <mat-list-item>First Name: {{card.firstName}}</mat-list-item><mat-divider></mat-divider>
        <mat-list-item>Last Name: {{card.lastName}}</mat-list-item><mat-divider></mat-divider>
        <mat-list-item>Organization: {{card.organization}}</mat-list-item><mat-divider></mat-divider>
        <mat-list-item>Position: {{card.position}}</mat-list-item><mat-divider></mat-divider>
        <mat-list-item><mat-icon matPrefix>email</mat-icon>&nbsp; Email: {{card.email}}</mat-list-item><mat-divider></mat-divider>
        <mat-list-item><mat-icon matPrefix>phone</mat-icon>&nbsp; Phone: {{card.phone}} </mat-list-item><mat-divider></mat-divider>
        <mat-list-item><mat-icon matPrefix>house</mat-icon>&nbsp; Address: {{card.address}}</mat-list-item>
        </mat-list>
        </mat-card-content>
    </mat-card><br>
</ul>
<div class="cards">
    <div class="col-md-6" *ngIf="editMode else elseBlock">
      <form  #f="ngForm">
        <div class="form-group">
            <div class="field">
                <input name="firstName" id="firstName" placeholder="{{getValue(card.firstName, 'First Name')}}" #firstName>
            </div>
            <div class="field">
                <input name="lastName" id="lastName" placeholder="{{getValue(card.lastName, 'Last Name')}}" #lastName>
            </div>
            <div class="field">
                <input name="organization" id="organization" #organization placeholder="{{getValue(card.organization, 'Organization')}}">
            </div>
            <div class="field">
                <input name="position" id="position" placeholder="{{getValue(card.position, 'Position')}}" #position>
            </div>
            <div class="field">
                <input name="email" id="email" #email placeholder="{{getValue(card.email, 'Email')}}">
            </div>
            <div class="field">
                <input name="phone" id="phone" placeholder="{{getValue(card.phone, 'Phone')}}" #phone>
            </div>
            <div class="field">
                <input name="address" id="address" placeholder="{{getValue(card.address, 'Address')}}" #address>
            </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveCard(firstName, lastName, organization, position, email, phone, address)">
            Save Card
          </button>
        </div>
      </form>
    </div>
    <ng-template #elseBlock>
        <button mat-button class="btn-danger" style="float: right;" (click)="deleteCard(card)">
            <i class="fa fa-remove">Delete</i>
        </button>
    <button mat-button style="background-color: lightgreen; float: right; margin-right: 10px;" (click)="edit(card)">
        <i class="fa fa-edit">Edit</i>
    </button>&nbsp;

    </ng-template>
</div>
