<h3>Business Cards</h3>
<div class="grid grid-pad">
  <app-newbusinesscard (onAdd)="addCard($event)"></app-newbusinesscard>
  <ul>
      <li *ngFor="let card of cards | async" class="col-1-4">
          <app-businesscard [card]="card"></app-businesscard>
      </li>
  </ul>
  <div class="img">
          <img [src]="imgService.localImg" id="image" />
          <div>
            <button (click)="imgService.convertToBase64()"> Base 64 </button>
            <button (click)="imgService.scanCard()"> Scan </button>
          </div>
      </div>
      <app-webcam></app-webcam>
</div>
