<form class="example-form centerd">
    <mat-card>
        <mat-form-field>
        <input matInput name="firstName" placeholder="First Name" id="firstName" #firstName>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="lastName" placeholder="Last Name" id="lastName" #lastName>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="organization" placeholder="Organization" id="organization" #organization>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="position" placeholder="Position" id="position" #position>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="email" placeholder="Email" id="email" #email>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="phone" placeholder="Phone" id="phone" #phone>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="address" placeholder="Address" id="address" #address>
    </mat-form-field>
    <div class="clearfix">
    <button mat-button style="float: right;" (click)="addCard(firstName, lastName, organization, position, email, phone, address)"
            class="ui positive right button">
        <mat-icon matPrefix>add_circle</mat-icon> Submit
    </button></div>
    </mat-card>
</form>
