<div id="webcam">
    <div class="img">
            <img [src]="imgService.localImg" id="image" />
            <div>
              <button (click)="imgService.convertToBase64()"> Base 64 </button>
              <div class="radio">
                  <label>
                      <input type="radio" [checked]="imgService.saveb" (change)="imgService.toggleSave('b')">
                      &nbsp; Save PNG
                  </label>
              </div>
              <button (click)="imgService.scanCard('s')"> Scan </button>
              <div class="radio">
                  <label>
                      <input type="radio" [checked]="imgService.saves" (change)="imgService.toggleSave('s')">
                      &nbsp; Save PNG
                  </label>
              </div>
            </div>
    </div>
    <div>
        <video id="video" width="640" height="480" autoplay #video></video>
    </div>
    <div>
        <button id="snap" (click)="snap()">Snap Photo</button>
    </div>
    <canvas id="canvas" width="640" height="480" #canvas ></canvas>
    <ul>
        <li *ngIf="photo">
            <img src="{{ photo.src }}"/>
        </li>
    </ul>
</div>
