    <mat-card  style="margin-top: 10%;" >
        <mat-card-subtitle>Optional: Use a local or remote image.</mat-card-subtitle>
        <mat-card-content>
            <mat-form-field style="width: 55%;">
                <mat-label>Path (e.g., images/card.png or https://path/card.png).</mat-label>
                <mat-icon class="icon" matPrefix>add_a_photo</mat-icon>
                <input matInput name="image" #image
        (keyup.enter)="setImage(image.value)">
            </mat-form-field>
<button mat-button color="primary" name="image"
   (click)="setImage(image.value)">
   <mat-icon class="icon" matPrefix>add_a_photo</mat-icon>
   Submit
</button>
</mat-card-content>
</mat-card>
<div class="example-container centerd">
    <button mat-button id="snap" class="centerd" (click)="toggleCamera()">
        Toggle Camera
    </button>
    <mat-card>
        <video id="video" autoplay height="640" width="480" #video></video>
        <br>
        <button mat-button id="snap" (click)="snap()">
        <mat-icon>add_photo_alternate</mat-icon> Snap Photo
    </button>
    </mat-card>
    <mat-card>
        <canvas #canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
        <img *ngIf="photo" src="{{photo.src}}" class="example-card"><br>
        <button mat-button id="snap" (click)="imgService.navAdd()">
        <mat-icon>add_photo_alternate</mat-icon> Add Page
    </button><br>
        <img [src]="imgService.localImg" id="image" />
    </mat-card>
    <div class="centerd">
      <button mat-button (click)="imgService.convertToBase64()">
          Convert to Base 64
      </button>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group" >
              <mat-radio-button class="example-radio-button" [value]="imgService.saveb" (change)="imgService.toggleSave('b')">
              &nbsp; Save PNG
          </mat-radio-button>
      </mat-radio-group>
      <button mat-button (click)="imgService.scanCard('s')">
           Scan
       </button>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group">
        <mat-radio-button class="example-radio-button"
            [value]="imgService.saves" (change)="imgService.toggleSave('s')">
              &nbsp; Save PNG
          </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
